mat-grid-tile{
    border: 1px solid #c19320;
}
.btn-remove-image{
  position: absolute;
    cursor: pointer;
    top: -30px;
    right: -29px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}
.dropzone{
  height: 150px;
  min-width: 100px;
  display: table;
  background-color: #eee;
  width: 300px;
  border: dashed 1px #aaa;
  border-radius: 10px;
  margin-left: auto;
  marign-right:auto;
}
.text-wrapper{
  display: table-cell;
  vertical-align: middle;
}
 .centred{
   text-align: center;
 }
 .browse-button{
   color: blue;
   cursor: pointer;
 }
