<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>UserName</mat-label>
                <input ngModel
                       name="userName"
                       id="userName" matInput placeholder="Placeholder">

            </mat-form-field>
            <br>
            <mat-form-field appearance="outline"  class="w-100">
                <mat-label>Password</mat-label>
                <input type="password" ngModel
                       name="userPassword"
                       id="userPassword"  matInput placeholder="Placeholder">

            </mat-form-field>
            <button class="w-100" type="submit" mat-raised-button color="primary">Login</button>

        </form>
    </div>
</div>
